/* Styling For Elements Inside Both Sections */
h4 {
    font-family: "Lucida Console", Courier, monospace;
    font-size: larger;
    display: flex;
    justify-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif; 
}

/* Top News Title Styling */
.news-name{
    display: flex;
    justify-content: center;
}

/* Top Section Styling */
.top-section{
    display: flex;
    border: 2px solid lightslategray;
    align-items: center;
    width: 100%;
}

.top-left{
    width: 25%;
}

.top-mid{
    width: 50%;
}

.top-right{
    width: 25%;;
}

.top-article{
    padding: 1.5%;
    border: 2px solid gainsboro;
}

/* Bottom Section Styling */
.low-section{
    display: flex;
    border: 2px solid gainsboro;
    justify-content: center;
    width: 100%;
}

.low-article{
    padding: 0.9%;
    border: 2px solid gainsboro;
}

.left-txt-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.low-left{
    width: 25%;
}

/* Bottom Category Section Styling */
.politics-section{
    background-color: lightyellow;
    margin: 0px; 
    height: 20%;
}

.tech-section{
    background-color: turquoise;
    margin: 0px;
    height: 20%; 
}

.local-section{
    background-color: lightgreen;
    margin: 0px;
    height: 20%;
}

.op-section{
    background-color: cornflowerblue;
    margin: 0px;
    height: 20%;
}

.sport-section{
    background-color: mediumpurple;
    margin: 0px;
    height: 20%;
}
h2 {
    display: flex;
    align-items: center;
    padding-left: 5%;
}